# See readme.md for instructions

# Choose the scripts you want from the following, or add your own line

@reboot /bin/bash /var/root/lunars/cron/scripts/open-diag-port.sh
@reboot /bin/bash /var/root/lunars/cron/scripts/open-wifi.sh
@reboot /bin/bash /var/root/lunars/cron/scripts/open-vpn.sh
@reboot /bin/bash /var/root/lunars/cron/scripts/save-key.sh > /dev/null 2>&1
@reboot /bin/bash /var/root/lunars/cron/scripts/memory-logs.sh
@reboot /bin/bash /var/root/lunars/cron/scripts/block-tesla-ssh.sh
@reboot /bin/bash /var/root/lunars/cron/scripts/mount-modfiles.sh > /dev/null 2>&1
@reboot /bin/bash /var/root/lunars/cron/scripts/vitals.sh > /dev/null 2>&1 &

*/5 * * * * /bin/bash /var/root/lunars/cron/scripts/open-wifi.sh
*/5 * * * * /bin/bash /var/root/lunars/cron/scripts/open-diag-port.sh
*/5 * * * * /bin/bash /var/root/lunars/cron/scripts/save-robert.sh > /dev/null 2>&1
*/5 * * * * /bin/bash /var/root/lunars/cron/scripts/startstopvpn.sh > /dev/null 2>&1
*/5 * * * * /bin/bash /var/root/lunars/cron/scripts/add-ssh-key.sh > /dev/null 2>&1
*/5 * * * * /bin/bash /var/root/lunars/cron/scripts/add-ssh-key-tesla.sh > /dev/null 2>&1
*/5 * * * * /bin/bash /var/root/lunars/cron/scripts/CopyAcct.sh

# Choose one of the following two methods for handling logs

# 1. Delete all logs
# * * * * * find /var/log/ -type f -exec truncate --size 0 {} \+
# 2. Disable all logging to save eMMC
# @reboot service rsyslog stop >/dev/null 2>&1

# Choose one of the following two methods for saving keys:
0 * * * * /bin/bash /var/root/lunars/cron/scripts/save-key.sh > /dev/null 2>&1
# 0 * * * * /bin/bash /var/root/lunars/cron/scripts/save-key-over-ssh.sh > /dev/null 2>&1
