# sudo su -
# crontab -e
# Save whatever scripts you want from the following

@reboot bash /var/spool/scripts/open-diag-port.sh
@reboot bash /var/spool/scripts/open-wifi.sh
@reboot bash /var/spool/scripts/open-vpn.sh
@reboot bash /var/spool/scripts/save-key.sh > /dev/null 2>&1
@reboot bash /var/spool/scripts/memory-logs.sh
@reboot bash /var/spool/scripts/block-tesla-ssh.sh
@reboot bash /var/spool/scripts/mount-modfiles.sh > /dev/null 2>&1
@reboot bash /var/spool/scripts/vitals.sh > /dev/null 2>&1 &

*/5 * * * * bash /var/spool/scripts/open-wifi.sh
*/5 * * * * bash /var/spool/scripts/open-diag-port.sh
*/5 * * * * bash /var/spool/scripts/save-robert.sh > /dev/null 2>&1
*/5 * * * * bash /var/spool/scripts/startstopvpn.sh > /dev/null 2>&1
*/5 * * * * bash /var/spool/scripts/add-ssh-key.sh > /dev/null 2>&1
*/5 * * * * bash /var/spool/scripts/add-ssh-key-tesla.sh > /dev/null 2>&1
*/5 * * * * bash /var/spool/scripts/CopyAcct.sh

# Choose one of the following two methods for handling logs

# 1. Delete all logs
# * * * * * find /var/log/ -type f -exec truncate --size 0 {} \+
# 2. Disable all logging to save eMMC
# @reboot service rsyslog stop >/dev/null 2>&1

# Choose one of the following two methods for saving keys:
0 * * * * bash /var/spool/scripts/save-key.sh > /dev/null 2>&1
# 0 * * * * bash /var/spool/scripts/save-key-over-ssh.sh > /dev/null 2>&1
